.header {
  .header-wrapper {
    height: 103px;
    background-color: #27262a;
    @media (min-width: 768px) {
      display: flex;

      .header-button {
        top: -15px;
        left: 90%;
      }
      .nav {
        width: 62%;
        padding-top: 64px;
        margin-left: -30px;
      }
    }
    @media (min-width: 1200px) {
      .nav {
        padding-top: 33px;
        margin-left: 15px;
      }
    }
    .logo-wrapper {
      .logo {
        width: 43px;
        height: 41px;
        position: absolute;
        top: 31px;
        left: 16px;
      }

      .logo__text {
        display: none;
      }
      @media (min-width: 768px) {
        display: flex;
        padding: 1rem;
        .logo {
          position: static;
        }
        .logo__text {
          display: inline-block;
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 16px;
          text-transform: uppercase;
          color: #8d81ac;
          margin: 1rem 1rem;
        }
      }
    }

    .nav {
      .menu {
        position: absolute;
        top: 16%;
        right: 5%;

        text-align: center;
        width: 90%;
        display: none;
        background-color: #333333;
        position: absolute;
        .menu__item {
          list-style: none;
        }
        a {
          text-align: left;
          text-decoration: none;
          color: white;
          display: block;
          border-bottom: 1px solid #3b3b3b;
          font-style: 700;
          font-size: 26px;
          line-height: 26px;
          font-size: 16px;
          margin: 3rem;
        }
      }
      .menu__item:hover {
        border-left: 0.8rem solid $text-color;
      }
      .menu a:hover {
        color: $text-color;
      }

      label {
        font-size: 26px;
        display: block;
        width: 26px;
        height: auto;
        float: right;
        cursor: pointer;
        color: white;
        margin: 35px 15px;
        span {
          width: 26px;
          height: 3px;
          border-radius: 10px;
          background-color: #ffffff;
          display: block;
          position: absolute;
          top: 51px;
          right: 22px;
        }

        span::before {
          content: "";
          width: 15px;
          height: 3px;
          border-radius: 10px;
          background-color: #ffffff;
          display: block;
          position: absolute;
          top: -10px;
          right: 0;
        }

        span::after {
          content: "";
          width: 26px;
          height: 3px;
          border-radius: 10px;
          background-color: #ffffff;
          display: block;
          position: absolute;
          top: 10px;
          right: 0;
        }
      }
      #toggle {
        display: none;
      }
      #toggle:checked ~ .collapsable-menu > span {
        transform: rotate(45deg);
      }
      #toggle:checked ~ .collapsable-menu > span::before {
        top: 0;
        transform: rotate(0);
      }

      #toggle:checked ~ .collapsable-menu > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #toggle:checked ~ .menu {
        display: block;
      }

      @media (min-width: 768px) {
        .logo__text {
          display: block;
        }
        label {
          display: none;
        }
        .menu {
          display: block;
          position: static;
          padding-top: 0;
          background-color: unset;
          display: flex;
          justify-content: space-between;
          font-size: 16px;
          max-width: 768px;
          margin: 0 auto;
        }
        .menu a {
          display: inline;
          border-bottom: transparent;
          color: #8d81ac;
          font-weight: bold;
          margin: 0;
        }
        .menu__item:hover {
          border-left: 0.8rem solid transparent;
        }

        #toggle {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .header .header-wrapper {
    background-color: black;
    margin: -1px auto;
    width: 100%;
  }

  .menu {
    flex-basis: unset;
    margin-top: 0;
    max-width: 52rem;
    margin-right: 4rem;
    margin-left: auto;
  }

  .header .header-wrapper .nav .menu a:hover {
    color: white;
  }
  .header .header-wrapper .header-button:hover {
    background-color: white;
    color: $text-color;
  }
  .header .header-wrapper .logo-wrapper .logo__text:hover {
    color: white;
  }
}

.header-button {
  width: 145px;
  height: 38px;
  text-align: center;
  background-color: #8d81ac;
  border-radius: 40px;
  color: white;
  position: absolute;
  cursor: pointer;

  left: 50%;
  margin-left: -72px;
  margin-top: 33px;
  padding-top: 8px;
  font-style: 700;
  font-weight: bold;
  font-size: 16px;
}
