.main {
  min-height: 600px;
  padding: 0 1rem;

  background-image: url("../img/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main__wrapper {
  @include flex-center();
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: 4rem;
}
.main__title {
  color: white;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  color: #ffffff;
  margin-bottom: 1rem;
}
.main__desc {
  font-size: 18px;
  line-height: 24px;
  color: #8d81ac;
  margin-bottom: 1rem;
}
.main__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 1rem;

  color: #848e97;
}

.action {
  @include flex-center();

  margin-top: -25px;
}
button {
  background: $text-color;
  border: 1px solid transparent;
  font-style: 700;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 40px;
  padding: 12px 40px;
  margin-bottom: 1rem;
}
.main__button-desc {
  font-size: 14px;
  line-height: 16px;
  color: #848e97;
  margin-bottom: 2rem;
}
