@mixin nav-text() {
  font-style: 700;
  font-weight: bold;
  font-size: 16px;
  line-height: 75px;
}

@mixin background($img-uri) {
  background: url($img-uri);
  background-size: cover;
  background-repeat: no-repeat;
  width: 160px;
  height: 140px;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-center--row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
