.price {
  padding-bottom: 18px;
  background-color: #4a3b4e;
  background-image: url("../img/price-bg.png");
  background-repeat: no-repeat;

  background-position: top;
  //background-size: auto 50%;
  color: #ffffff;

  .price-wrapper {
    padding: 10px 20px;

    .price-title {
      text-align: center;
      margin-bottom: 32px;
      color: rgba(255, 255, 255, 1);
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 42px;
    }

    .price-content {
      .price-content-card {
        position: relative;
        margin: 18px auto;
        width: 257px;
        height: 457px;
        text-align: center;

        background: rgba(255, 255, 255, 0.11);
        mix-blend-mode: normal;

        .price-content-card-user {
          background: rgba(255, 255, 255, 0.11);
          font-weight: normal;
          font-size: 24px;
          line-height: 24px;
          text-transform: uppercase;
          height: 97px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .price-content-card-user-active {
          background: rgba(0, 0, 0, 0.11);
        }

        .price-content-card-description {
          .description-cost {
            font-weight: normal;
            font-size: 60px;
            line-height: 62px;
            margin-top: 30px;
          }
          .description-cost-active {
            font-size: 82px;
            line-height: 84px;
          }
          .description-time {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            margin-top: 20px;
          }

          .description-line {
            display: block;
            //position: absolute;
            width: 60px;
            height: 5px;
            margin: 38px auto 0;
            //left: 120px;
            //bottom: 0;
            background: rgba(141, 129, 172, 1);
          }

          .description-product {
            margin-top: 30px;
            .description-product-item {
              display: block;
              font-weight: normal;
              font-size: 16px;
              line-height: 18px;
              margin-top: 16px;
            }
          }
          .description-btn {
            margin: 37px auto 0;
            box-sizing: border-box;

            width: 163px;
            height: 45px;
            font-weight: normal;
            font-size: 15px;
            line-height: 15px;
            background: rgba(255, 255, 255, 0.15);
            cursor: pointer;
          }
          .description-btn-active {
            margin-top: 83px;
          }
        }
      }
      .card-active {
        width: 299px;
        height: 560px;
        background: rgba(70, 48, 72, 1);
      }
    }
  }
}

@media (min-width: 481px) {
  .price {
    .price-wrapper {
      max-width: 930px;
      margin: 0 auto;
      .price-title {
        font-weight: bold;
        font-size: 42px;
        line-height: 44px;
      }

      .price-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 30px 0;
        .price-content-card {
          margin: 18px;

          .price-content-card-user {
          }

          .price-content-card-description {
            .description-cost {
            }
            .description-time {
            }
            .description-product {
              .description-product-item {
              }
            }
            .description-btn {
            }
          }
        }

        .card-active {
          margin-left: -21px;
        }
      }
    }
  }
}

@media (min-width: 993px) {
  .price {
    .price-wrapper {
      max-width: 100%;
      margin: 0;
      .price-title {
        font-size: 48px;
        line-height: 50px;
      }

      .price-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 30px 25px;
        .price-content-card {
          .price-content-card-user {
          }

          .price-content-card-description {
            .description-cost {
            }
            .description-time {
            }
            .description-product {
              .description-product-item {
              }
            }
            .description-btn {
            }
          }
        }

        .card-active {
          margin-left: 15px;
        }
      }
    }
  }
}
